{% extends 'base.html'%}
{% block title %}
    Профайл пользователя {{ author.username }}
{% endblock title %}
{% block content %}
  <div class="mb-5">
  <h1>Все посты пользователя {{ author.username }} </h1>
  <h2>Всего постов: {{ author.post.count }} </h2>
  <h2>Подписчики: {{ author.following.count }}</h2>
  <h2>Подписки: {{ author.follower.count }}</h2>
  {% if user.is_authenticated and user != author %}
    {% if following %}
      <a class="btn btn-outline-danger"
      href="{% url 'blog:profile_unfollow' author.username %}" 
      role="button">Отписаться</a> 
    {% else %}
      <a class="btn btn-outline-danger"
      href="{% url 'blog:profile_follow' author.username %}" 
      role="button">Подписаться</a> 
    {% endif %}
  {% endif %}
  {% for post in page_obj %}
    {% include 'blog/includes/post_on_page.html' with profile_detail=True %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
</div>
{% endblock %}