{% load thumbnail %}
<ul class="list-group list-group-flush">
  <li class='list-group-item'>
    Автор: <a class ='btn btn-outline-primary' href="{% url 'post:profile' post.author.username %}" > {{ post.author.username }} </a>
  </li>
  <li class="list-group-item">
    Дата публикации: {{ post.pub_date|date:"d E Y" }}
  </li>
</ul>
{% thumbnail post.image "960x339" crop="center" upscale=True as im %}
  <img class="card-img my-2" src="{{ im.url }}">
{% endthumbnail %}
<li class='list-group-item'><p class='list-group-item-info'>{{ post.text|linebreaksbr }}</p></li>
{% if profile_detail %}
  <li class='list-group-item'>
    <a href="{% url 'post:post_detail' post.id%}">подробная информация </a>
  </li>
{% endif %}
{% if post.group and not without_group %}
  <li class='list-group-item'>
    Группа: <a href="{% url 'post:group_list' post.group.slug %}" > {{ post.group.title }}</a>
  </li>
{% endif %}
{% if post_edit %}
  <a class="btn btn-primary" href="{% url 'post:post_edit' post.id %}">Редактировать</span></a>
{% endif %}
